{% extends 'base/base.html' %}

{% block head %}
<link href='https://fullcalendar.io/releases/fullcalendar/3.10.2/fullcalendar.min.css' rel='stylesheet' />
<script src='https://fullcalendar.io/releases/fullcalendar/3.10.2/fullcalendar.min.js'></script>
<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            events: '/get_schedule_events/{{ trainer.id }}/'
        });
    });
</script>
{% endblock %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Trainer {{ trainer.name }} Schedule</h1>
            <div id='calendar'></div>
        </div>
    </div>
</section>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Reservation with {{ trainer.name }}</h1>
            <p></p>
        </div>
    </div>
</section>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Reserve</button>
</form>
{% endblock %}